/* Default Layout */
.logo {
	display: block;
	margin: 0 auto;
	height: 50px;
	padding: 40px;
}

body {
	background: #1D2B64; /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #F8CDDA, #1D2B64); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #F8CDDA, #1D2B64); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	width: 50%;
	margin: 0px auto;
	font-family: "Helvetica", "Arial", sans-serif;
	font-size: 16px;
	color: white;
}

main {
	border-radius: 25px;
	background-color: #10028257; /* Purple */
	padding: 20px;
}

.button {
	display: block;
	margin: 30 auto;
	padding: 15px 60px;
	border: none;
	border-radius: 4px;
	transition-duration: 0.4s;
	color: white;
	background-color: #e6dae630; /* Purple */
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
}

.button:hover {
	background-color: #d7a3f2; /* Light Purple */
}

/* Home Page*/
.description {
	line-height: 1.7;
	text-align: center;
	margin: 20 auto;
	width: 80%;
}

.user-input {
	width: 40%;
	margin: 40px auto;
}

.input-field {
	width: 40px;
}

/* Play Page */

.user-output {
	display: flex;
	justify-content: center;
}

/* Score Page */
.leaderboard {
	width: 30%;
	font-size: 20px;
	background-color: #49326d; /* Dark Purple */
}

.score {
	border: 1px solid #d7a3f2; /* Light Purple */
	text-align: center;
}

hr {
	border: none;
	border-top: 2px dashed #fff; /* White */
	width: 70%;
}

#hrTop {
	margin-top: 40px;
}

#hrBottom {
	margin-bottom: 20px;
}

.title {
	font-size: 25px;
	text-align: center;
	margin: 0px;
}

.results {
	text-align: center;
}

#buttons {
	margin: 50px 30px;
}

.box {
  display: flex;
  align-items: center;
  justify-content: center;
}