<html xmlns:th="http://www.thymeleaf.org">
<!--––
 * Play Game Page
 * @author: Mark Zarak, Oct 2020
––-->
<head>
	<title>Matrix Searcher</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" />
</head>

<body>

	<header>
		<img class="title" th:src="@{/images/title.png}" height="150px"
			alt="Matrix Searcher" />
	</header>

	<main>
		<table>
            <tr th:each="row: ${squareMatrix}">
                <td th:each="value: ${row}">
                    <div th:switch="${value}">
                        <input th:case="0" style="width:30px;height:30px;text-align:center" type = "text" maxlength="1" value="0">
                        <input th:case="*" style="width:30px;height:30px;text-align:center;background-color:white" type = "text" th:value="${value}" readonly>
                    </div>
                </td>
            </tr>
        </table>

		<p class="description">Enter words to search separated by comma.</p>
		
		<form action="#" th:action="@{/score}" th:object="${user}">
			<section class="user-input">	
				<p>Search For: <input type="text" th:field="*{wordList}" required /></p> 

			</section>
				<p><input class="button" type="submit" value="Submit" /></p>
		</form>	

	</main>
</body>

</html>