<html xmlns:th="http://www.thymeleaf.org">
<!--––
 * Continue Or Quit Game Option Page
 * @author: Mark Zarak, Oct 2020
––-->
<head>
	<title>Matrix Searcher</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" />
</head>

<body>
	
	<header>
		<img class="title" th:src="@{/images/title.png}" height="150px" alt="Matrix Searcher" />
	</header>
	
	<main>
		<p class="description">Matrix Searcher description.</p>	
		 
		<form action="#" th:action="@{/play}" th:object="${user}">
			<section class="user-input">	
				<p>Name: </p> 
				<p>Length: </p> 

			</section>
				<p><input class="button" type="submit" value="Submit" /></p>
		</form>	
		
	</main>	
</body>

</html>