<html xmlns:th="http://www.thymeleaf.org">
<!--––
 * Continuing Game Page
 * @author: Mark Zarak, Nov 2020
––-->
<head>
	<title>Matrix Searcher</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" />
</head>

<body>
	
	<header>
		<img class="logo" th:src="@{/images/title.png}" alt="Word Search" />
	</header>
	
	<main>
		<p class="description">Welcome back to the Word Search game! To continue playing, please
		 enter the length of the square grid to create. The larger it is, the greater your score 
		 can be, however the minimum must be at least 5 and the maximum is 20.</p>	
		 
		<form action="#" th:action="@{/play}" th:object="${user}">
			<section class="user-input">	
				<p>Name: <input type="text" th:field="*{name}" disabled /></p> 
				<p>Length: <input class="input-field" type="number" min="5" max="20" th:field="*{length}" autofocus /></p> 

			</section>
				<p><input class="button" type="submit" value="Submit" /></p>
		</form>	
		
	</main>	
</body>

</html>