<html xmlns:th="http://www.thymeleaf.org">
<!--––
 * Score Page
 * @author: Mark Zarak, Oct 2020
––-->
<head>
	<title>Matrix Searcher</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/style.css}" />
</head>

<body>
	
	<header>
		<img class="title" th:src="@{/images/title.png}" height="150px" alt="Matrix Searcher" />
	</header>
	
	<main>
	
		<p class="description">Matrix Searcher score.</p>	
		
		<table border="1">
		 <tr>
		   <th>Name</th>
		   <th>Matrix Size</th>
		   <th>Score</th>
		 </tr>
		 
		  <tr th:each="player : ${players}">
		  		<td th:text="${player.name}"></td>
		        <td th:text="|${player.length} x ${player.length}|"></td>
		        <td th:text="${player.score}"></td>
		  </tr>
		</table>
		
	</main>	
</body>

</html>